

#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#texto {
  position: absolute;
  font-size: 22px;
  left: 580px;
  top: 400px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

